.container {
  position: relative;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  max-width: 300px;
  height: 100%;
  border-radius: 20px;
  flex-direction: column;
}
